<div ng-app="app" >
  <div id="sideNavContainer" ng-controller="AppCtrl" layout="row" ng-cloak>
    <md-sidenav md-component-id="left" class="md-sidenav-left">Welcome to TutorialsPoint.Com</md-sidenav>
      <md-content class="wrapper">           
        <md-button class="btn-right md-primary" ng-click="openRightMenu()">Open Right Menu</md-button>
      </md-content>
      <md-sidenav md-component-id="right" class="md-sidenav-right"></md-sidenav>
  </div>
</div>