<div ng-app="app" >
  <div id="sideNavContainer" ng-controller="AppCtrl as ctrl" layout="row">
    <md-content class="wrapper">           
      <md-button class="btn-right md-raised md-primary" ng-click="ctrl.openRightMenu()">Open Right Menu</md-button>
    </md-content>
    <md-sidenav md-component-id="right" class="md-sidenav-right">
      <div class="container">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#">Edit</a></li>
          <li><a href="#">Triggers</a></li>
          <li><a href="#">Preview</a></li>
        </ul>
          <div class="panel panel-default clearfix">
            <md-button class="md-raised add-content">
              <img class="upload-img" ng-src="/assets/pic_mountains_album.png"></img>  Add Header Image or Video
              </md-button>
            <h4>TITLE</h4><hr>
            <input type="text" name="title" placeholder="Enter a title here.">
            <h4>EXTRA INSTRUCTIONS</h4><hr>
            <textarea type="text" name="instructions" placeholder="Add any additional description here." cols="72" rows="4"></textarea>
            <h4>TAGS</h4><hr>
            <input type="text" name="tags" placeholder="Enter new custom tag">
            <h4>CHECKLIST</h4><hr>
            <md-button class="md-raised md-warn btn-item">Add Checklist Item</md-button>
            <md-button class="md-raised md-primary btn-section">Add Section</md-button><hr>
            <div class="col-md-2">
              <img class="edit-img" ng-src="/assets/new.png"></img>
            </div>
            <div class="col-md-10">
              <h4>Include comment box?</h4>
              <p>Include a comment box if you d like respondents to be able to provide comments.</p>
            </div>
          </div>
            <div class="col-md-3">
              <img class="trash-img" ng-src="/assets/trash.jpg"></img>
            </div>
            <div class="col-md-6">
              <md-button class="md-raised md-warn btn-save">Save</md-button>
              <md-button class="md-warn btn-cancel">Cancel</md-button>
            </div>
        </div>
    </md-sidenav>
  </div>
</div>