/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";

h4 {
	font-weight: bold;
	margin-left: 15px;
}

hr {
	height: 1px;
	background-color: #acacac;
}

li {
	width: 100px;
	text-align: center;
	a {
		border: none !important;
		color: #858585 !important;
	}
}

li.active {
	a {
		color: #FFA500 !important;
	}
	border-bottom: 6px solid orange;
}

input {
	margin-left: 15px;
	margin-bottom: 15px;
	height: 40px;
	width: 455px;
}

p {
	margin-left: 15px;
}

textarea {
   resize: none;
   margin-bottom: 17px;
   margin-left: 15px;
}

.upload-img {
	height: 30px;
	width: 30px;
}

.edit-img {
	height: 80px;
    width: 80px;
}

.add-content {
	margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 20px;
	height: 35px;
	width: 455px;
	color: orange !important;
	text-transform: none !important;
}

.btn-right {
	margin: auto !important;
}

.btn-cancel {
	border: 1px solid rgb(244,81,30); /* Green */
	text-transform: none !important;
}

.btn-save {
	text-transform: none !important;
}

.btn-item {
	width: 220px;
	height: 46px;
	margin-left: 15px;
	text-transform: none !important;
}

.btn-section {
	width: 220px;
	height: 46px;
	background-color: #808080 !important;
	text-transform: none !important;
}

.trash {
	background-color: white;
	border: 1px solid #acacac;
	margin-top: 4px;
	height: 41px;
	width: 20px;
}

.trash-img {
	margin-top: 4px;
	height: 45px;
	width: 45px;
}

.content-box {
	margin-top: 20px;
	margin-left: 10px;
}

.wrapper {
	text-align: center;
	margin-top: 150px;
	width: 100%;
	height: 100%;
}

.container {
	width: 520px;
	//background-color: #efefef !important;
}

.panel {
	background-color: #efefef !important;
}

.md-sidenav-right, .md-sidenav-right.md-locked-open, .md-sidenav-right.md-closed.md-locked-open-add-active {
 min-width: 520px !important;
 width: 50vw !important;
 max-width: 520px !important;
}